body {
  background: #4b84f5;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  color: #4b84f5;
}

button:hover {
  background: aliceblue;
}

button:active {
  background: lightblue;
}

button {
  line-height: 20px;
  background: white;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
  background-color: black;
  height: 58px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.shopping-bag {
  position: absolute;
  cursor: pointer;
  top: 56px;
  right: 20px;
  cursor: pointer;
}
.shopping-bag img {
  width: 40px;
  filter: invert(100%);
}

.close-cart {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.products-list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  margin-top: 30px;
  width: 300px;
  border: 1px solid black;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product-details {
  flex-grow: 1;
}

.shopping-bag-badge {
  position: absolute;
  border-radius: 50%;
  background: red;
  color: white;
  right: 0px;
  top: 0px;
  width: 15px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}

.main-page {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  background: grey;
  width: 0;
  padding: 0 20px 20px 20px;
  opacity: 0;
  position: absolute;
  right: -400px;
  top: 120px;
  height: auto;
  transition: 300ms linear all;
  overflow: auto;
  width: 300px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  color: #4b84f5;
}

.shopping-cart-open {
  opacity: 1;
  right: 20px;
}

.cart-empty {
  margin-top: 20px;
}

.cart-item {
  border-bottom: 1px solid darkgrey;
  padding: 20px 0;
  text-align: left;
  position: relative;
}

.cart-total {
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  align-self: flex-end;
}

.cart-item-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.cart-item-quantity {
  margin-top: 5px;
}
.cart-item-quantity button {
  line-height: 10px;
  vertical-align: middle;
}

.cart-item-quantity span {
  margin: 5px;
}
button.cart-item-remove {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.products-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
label {
  color: white;
  text-align: left;
  margin-left: 3px;
}
.products-list input {
  width: 250px;
  margin-left: 10px;
  line-height: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
